*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
header img {
  object-fit: 100%;
  object-position: center;
  width: 100%;
  height: 100%;
}
header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

h1 {
  position: absolute;
  font-size: 3rem;
  color: #f2f2f2;
  z-index: 98;
  top: 40%;
}
.header-text {
  position: absolute;
  z-index: 98;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  bottom: 250px;
  left: 150px;
  font-weight: 100;
  opacity: 0.8;
}
.header-text2 {
  position: absolute;
  z-index: 98;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  bottom: 200px;
  right: 50px;
  font-weight: 100;
  opacity: 0.8;
}
.header-text3 {
  position: absolute;
  z-index: 98;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  top: 150px;
  left: 60px;
  font-weight: 100;
  opacity: 0.8;
}
.text4 {
  position: absolute;
  z-index: 98;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  top: 200px;
  right: 150px;
  font-weight: 100;
  opacity: 0.8;
}

.content {
  height: 100vh;
  position: relative;
  margin-top: 100vh;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.content img {
  object-fit: 100%;
  object-position: center;
  width: 100%;
  height: 100%;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.content h2 {
  position: absolute;
  top: 100px;
  color: #fff;
  font-size: 2rem;
}
.fa-chevron-down {
  position: absolute;
  font-size: 4rem;
  color: #fff;
  z-index: 99;
  bottom: 11px;
  left: 50%;
  opacity: 0.8;
}
.spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 50px;
  gap: 7px;
  z-index: 98;
}
.spotify iframe {
  opacity: 0.5;
  position: relative;
  z-index: 98;
}

.soundcloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50px;
  gap: 7px;
}

.soundcloud iframe {
  width: 200px;
  height: 200px;
}
.fa-soundcloud {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 150px;
  margin-right: 250px;
  z-index: 98;
}
.spotify,
.iframe-spotify {
  opacity: 0.5;
}

.fa-spotify {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 150px;
  margin-left: 250px;
  z-index: 98;
}
.iframe-div,
.iframe {
  margin-left: 10px;
  opacity: 0.5;
  position: relative;
  z-index: 99;
}
.iframe-div2,
.iframe2 {
  margin-left: 60px;
  opacity: 0.5;
  position: relative;
  z-index: 99;
}
.iframe-div3,
.iframe3 {
  margin-left: 110px;
  opacity: 0.5;
  position: relative;
  z-index: 99;
}
.bio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 17px;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.bio-section img {
  position: absolute;
  object-fit: 100%;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.bio-future {
  z-index: 100;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 150px;
}
.bio-future h3 {
  font-size: 2.8rem;
  position: relative;
  margin-bottom: 7px;
}
.bio-future p {
  font-size: 1.8rem;
  width: 250px;
}
.contact-me {
  z-index: 100;
}
.contact-me i {
  color: #fff;
  font-size: 2rem;
}
header,
.content,
.fa-chevron-down,
.bio-future p {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.fa-chevron-up {
  position: absolute;
  font-size: 4rem;
  color: #fff;
  z-index: 99;
  bottom: 0;
  left: 50%;
  opacity: 0.8;
}
